__pycache__/Functions.cpython-37.pyc
__pycache__/Materials.cpython-37.pyc

.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/settings.json
__pycache__/Geometry.cpython-37.pyc
Test.py
nanorod.sub
__pycache__/Geometry.cpython-38.pyc
__pycache__/Materials.cpython-38.pyc
__pycache__/SolutionSpaceProjection.cpython-38.pyc
__pycache__/Nanorod.cpython-37.pyc
