__pycache__/Functions.cpython-37.pyc
__pycache__/Materials.cpython-37.pyc

.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/settings.json
__pycache__/Geometry.cpython-37.pyc
Test.py
nanorod.sub
__pycache__/Geometry.cpython-38.pyc
__pycache__/Materials.cpython-38.pyc
__pycache__/SolutionSpaceProjection.cpython-38.pyc
__pycache__/Nanorod.cpython-37.pyc
__pycache__/Simulation.cpython-37.pyc
__pycache__/mie_data.cpython-37.pyc
__pycache__/SolutionSpaceProjection.cpython-37.pyc
Biosensors.aux
Biosensors.bbl
Biosensors.blg
Biosensors.fdb_latexmk
Biosensors.fls
Biosensors.log
Biosensors.pdf
Biosensors.synctex.gz
__pycache__/mie_data.cpython-38.pyc
__pycache__/Simulation.cpython-38.pyc
